$color-black: #1e1e1e;
$color-black-dark: #2d2f33;
$color-orange: #e58411;
$color-white: #ffffff;
$color-biruza: #00d6c9;
$color-gray: #7c7c7c;
$color-gray-muted: #8d8d8d;
$color-blue-dark: #0d1b39;

$font-family-Gilroy: 'Gilroy', sans-serif;
$font-family-Inter: 'Inter', sans-serif;
